@using Sivoplyasov.FinalProject.PL.Web
@{
    Layout = "~/_Layout.cshtml";
    var sectionId = 0;
    int.TryParse(Request["Id"], out sectionId);
    if (LogicProvider.SectionLogic.GetSectionById(sectionId) == null)
    {
        Response.SetStatus(HttpStatusCode.BadRequest);
    }
    var section = LogicProvider.SectionLogic.GetSectionById(sectionId);
    if (section == null)
    {
        Response.SetStatus(HttpStatusCode.NotFound);
    }
    var categores = LogicProvider.CategoryLogic.GetCategoriesBySectionId(section.Id);
    Page.Title = section.Name;
}

<link href="~/Content/css/bootstrap-overrides.css" rel="stylesheet" />
<link href="~/Content/css/section-styles.css" rel="stylesheet" />
<ul class="breadcrumb row">
    <li><a href="/">Главная</a></li>
    <li class="active">@(section.Name)</li>
</ul>
@if (User.IsInRole("Admin"))
{
    <div class="row buttons-row">
        @if (section.CountOfCategories == 0)
        {
            <div class="col-xs-2 col-xs-offset-8">
                <form action="~/RemoveSection" method="post">
                    <button type="submit" class="btn btn-danger">Удалить текущую секцию</button>
                    <input type="hidden" name="Id" value="@(section.Id)" />
                </form>
            </div>
        }
        else
        {
            <div class="col-xs-2 col-xs-offset-8">
                <button onclick=showDeleteAlert() class="btn btn-danger">Удалить текущую секцию</button>
            </div>
        }
        <div class="col-xs-1">
            <form action="~/NewCategory" method="get">
                <button type="submit" class="btn btn-primary">Новая категория</button>
                <input type="hidden" name="SectionId" value="@(section.Id)" />
            </form>
        </div>
    </div>
}
@if (categores.Count() == 0)
{
    <div class="row alert alert-danger alert-div text-center">В этой секции еще нет <strong>ни одной</strong> категории! <strong>Так быть не должно.</strong></div>
}
else
{
    <div class="row section">
        <div class="col-xs-12 section-header">
            <form action="~/Section" method="get">
                <button type="submit" class="row btn btn-link"><h4>@(section.Name)</h4></button>
                <input type="hidden" name="Id" value="@(section.Id)" />
            </form>
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Имя форума:</th>
                    <th scope="col">Тем:</th>
                    <th scope="col">Сообщений:</th>
                    <th scope="col">Последнее сообщение:</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in LogicProvider.CategoryLogic.GetCategoriesBySectionId(section.Id))
                {
                    <tr>
                        <th scope="row">
                            <h4><a href="~/Category?id=@category.Id">@category.Name</a></h4>
                            <small>@category.Description</small>
                        </th>
                        <td class="align-middle">@category.CountOfTopics</td>
                        <td class="align-middle">@category.CountOfPosts</td>
                        <td class="align-middle">
                            @if (category.LastPost != null)
                            {
                                <div class="row">@category.LastPost.DateOfCreation</div>
                                <div class="row">Автор: @category.LastPost.User_Id</div>
                            }
                            else
                            {
                                <div class="row">Нет сообщений</div>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
@RenderPage("ParticalPages/_SectionModals.cshtml")
@section scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript">
        function showDeleteAlert() {
            $("#deleteAlert").modal('show');
        }
    </script>
}

